<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.css">
    <link href='https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag :site %>
    <script src="./javascripts/vendor/groundwork.js"></script>
    
    
    
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
    <%= javascript_include_tag :app, :async => true %>
    <footer class="site_footer">
      powered by <img src="images/U4Ulogo.png"/>
    </footer>
  </body>
</html>
